<div class="panel panel-default">
  <div class="panel-heading resizeNewButton2">
    <h1 class="text-center">
      Riffs for <%= @song.title %>
      <%= link_to(new_song_riff_path(@song)) do %>
        <%= image_tag('add_icon.png', class: "icon" ) %>
      <% end %>
    </h1>
  </div>
  <div class="panel-body" style="background-color: rgba(0,0,0,0.9);">
  <div id="riff_list">
    <% if @song.riffs %>
      <% @song.riffs.each do |riff| %>
        <div class="text-medium text-medium-riffs centerText">
          <%= link_to(song_riff_path(@song, riff)) do %>
            <%= riff.title %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
