<h1 style="text-align: center; margin-bottom: 25px;">Riff List for <%= @song.title %></h1>

<ul>
  <li> <%= link_to(new_song_riff_path(@song)) do %> <%= image_tag("song_icon.png", style: "height: 50px;") %> <h3>Create New Riff </h3> <% end %></li>
  <div  id="riff_list">
    <% if @song.riffs %>
      <% @song.riffs.each do |riff| %>
        <li> <%= link_to(song_riff_path(@song, riff)) do %>
          <%= image_tag(riff.avatar, style: "height: 50px;") %>
            <span><h3> <%= riff.title %> </h3> <% riff.cryptogram.note_array.each do |noteDiv| %><%= noteDiv.html_safe %><% end %></span>

          <% end %>
        </li>
        <br>
      <% end %>
    <% end %>
  </div>
</ul>
