<h1><%= @song.title %></h1>

<% if @song.cryptogram %>
  <h2><%= @song.cryptogram.word %> </h2>
  <div class="row">
    <% @song.cryptogram.note_array.each do |noteDiv| %>
      <%= noteDiv.html_safe %>
    <% end %>
  </div>

<div class="d">
  <h1>test</h1>
</div>

  <%= link_to "Back to songbank", songs_path %>
<br>
<% else %>
  <%= link_to "Create a cryptogram", new_song_cryptogram_path(@song) %>
<% end %>
