  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>

  <div class="cryptoWrapper">

    <!-- Title and Image -->
    <div style="text-align: center; font-size: 80px; color: white;"><%= @song.title%></div>
    <% if @song.avatar  %>
      <div class="centerIcons">
        <%= image_tag(@song.avatar, style: "height: 300px") %>
      </div>
    <% end %>
    <!-- Upload Photo / Play Cryptogram / Write Notes -->

    <div class="row centerIcons">
      <%= link_to image_tag('add_img.jpg'), user_song_path(@user, @song), id: "addImage", remote: true %>

      <%= link_to image_tag('take_note.jpg'), user_song_path(@user, @song), id: "addThoughts", remote: true %>
    </div>

    <!-- Update-Forms -->

    <div id="song_thoughts_form">
      <%= form_for [@user, @song] do |f| %>
        <div class="input-field">
          <%= f.label :thoughts,'Song Lyrics / Thoughts', style: "color: white; margin-left: 40%;"%>
          <%= f.text_area :thoughts, style: "color: white;", class: "materialize-textarea" %>
          <br>
          <span style="margin-left: 34%;"><%= f.submit class: "btn"%><button class="btn" id="hide_thoughts_form">Cancel</button></span>
        </div>

      <% end %>

    </div>

    <div id="song_image_form" style="margin-left: 36%;">
      <%= form_for [@user, @song], url: user_song_path(@user, @song), html: { method: :put } do |form| %>
        <%= form.label :avatar, 'Upload Song Image', style: "font-size: 18px; color: white; margin-left: 5%;" %>
        <%= form.file_field :avatar, style: "color: white;  margin-left: 5%;" %>
        <br>
        <%= form.submit "Update", class: "btn"%><button class="btn" id="hide_song_form">Cancel</button>
      <% end %>

    </div>

    <div style="text-align: center;">
      <h1>Musical Cryptogram <span class="startButton"> <%= image_tag('playbtn.jpg') %> </span></h1>
    </div>
    <div class="row encrypted_div">
      <% @song.cryptogram.note_array.each do |noteDiv| %>
        <%= noteDiv.html_safe %>
      <% end %>
      <br>
      <br>
    </div>
  <% if @song.thoughts %>
      <h1 style="text-align: center;">Lyrics / Song Notes:</h1>
      <div  class="encrypted_div" >
        <p><%= @song.thoughts %></p>
      </div>
      <br>
      <br>
  <% end %>




  <% if @song.cryptogram.definition && @song.cryptogram.synonyms != [] %>
    <h1>Definition</h1>
    <% @song.cryptogram.definition.each do |definition| %>
    <p><%= definition %></p>
    <br>

    <% end %>
  <% end %>
  <% if @song.cryptogram.synonyms && @song.cryptogram.synonyms != [] %>
    <h1>Synonyms</h1>
    <p><% @song.cryptogram.synonyms.each do |syn| %>
        <%= syn %>
        <br>
      <% end %>
    </p>
  <% end %>
  <br>
</div>
<br><br><br><br><br>
