<% if @user %>

  <br>
  <% if @user.albums %>
    <h1 style="text-align: center; margin-bottom: 25px;">Album List</h1>
    <div class="row">
      <%= link_to(new_user_album_path(@user)) do %>
        <div class="col-md-5 album-styling" style="background-image: url('assets/newrecord.jpg');">
          <div class="album_text">
            <h2>New Record</h2>
          </div>
        </div>
      <% end %>
      <% @user.albums.each do |album| %>
        <%= link_to(album_songs_path(album)) do %>
        <div class="col-md-5 album-styling" style="background-image: url('assets/newrecord.jpg');">
          <div class="album_text">
            <h2> <%= album.title %></h2>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>
  <% else %>
  <%= link_to "Create new album", new_user_album_path(@user) %>
  <% end %>
<% else %>
  <h2><%= link_to "Log-in", new_user_session_path %> | <%= link_to "Signup", new_user_registration_path %></h2>
<% end %>
