<% if @user %>

  <br>
  <% if @user.albums %>
    <h1 style="text-align: center; margin-bottom: 25px;">Album List</h1>
    <div class="row">
      <div class="col-md-3 home_riff_tile" style="background-size: 30vh 20vw;">
          <h4><%= link_to image_tag('new-riff.png', :style => "padding-left: 50%; padding-top: 50%; transform: translate(-25%, -25%);"), new_user_album_path(@user) %></h4>
      </div>
      <% @user.albums.each do |album| %>
        <div class="col-md-3 home_riff_tile" style="background-color: blue; color: white;">
          <div class="home_riff_text" style="text-align: center; font-size: 1.5em;">
            <%= link_to album.title, user_album_path(@user, album)%>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
  <%= link_to "Create new album", new_user_album_path(@user) %>
  <% end %>
<% else %>
  <h2><%= link_to "Log-in", new_user_session_path %> | <%= link_to "Signup", new_user_registration_path %></h2>
<% end %>
