<div class="album-background-img">
  <br>
  <% if @user %>
    <br>
      <div class="albumTitle">Albums</div>

      <div class="container">
        <div id="album_name_form"></div>
        <div class="row margin-left-large">
            <%= link_to(new_user_album_path(@user), remote:true) do %>
              <div class="col-md-3 album-styling" style="background-image: url('/assets/newrecord.jpg');">
                <div class="album_text">
                  <h2>New Record</h2>
                </div>
              </div>
            <% end %>
        <% if @user.albums %>
            <% @user.albums.each do |album| %>
              <%= link_to(album_songs_path(album)) do %>
              <div class="col-md-3 album-styling" style="background-image: url('<%= album.avatar %>');">
                <div class="album_text">
                  <h2><%= album.title %></h2>
                </div>
              </div>
              <% end %>
            <% end %>
          </div>
        </div>

          </div>

    <% else %>
      <%= link_to "Create new album", new_user_album_path(@user) %>
    <% end %>
  <% else %>
    <div class="well deviseWell">
      <%= form_for(:user, :url => session_path(:user)) do |f| %>
        <%= f.text_field :email, :placeholder => "Email"%>
        <br /><br />
        <%= f.password_field :password, :placeholder => "Password"%>
        <br /><br />
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me, :style => "color: white;" %>
        <br />
        <%= link_to "Forgot your password?", new_password_path(:user) %>
        <br /><br />
        <div class="col-md-offset-4">
          <%= f.submit 'Sign in' %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
