<!DOCTYPE html>
<html>
  <head>

    <title>Songwriter's Key</title>
    <%= csrf_meta_tags %>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

    <!-- PageHeader / Site Logo -->

    <div class="page-header">
      <span class="col-md-3 dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <%= image_tag("menuicon.jpg") %><span class="caret"></span></a>
        <ul class="dropdown-menu">
          <% if current_user %>
            <li><span class="dropdowntext"><%= link_to image_tag("home_icon.png", style: "height: 30px;"), root_path %> &nbsp &nbsp <%= link_to "Home", root_path %> </a></span></li>
            <li><span class="dropdowntext"><%= link_to image_tag("song_bank_footer_icon.png", style: "height: 30px;"), riffs_path, :class => 'main-links'%> &nbsp &nbsp <%= link_to "Albums", albums_path, :class => 'main-links' %> </span> </li>
            <% if @song %>
              <li><span class="dropdowntext"><%= link_to image_tag("vinyl_icon.jpg", style: "height: 30px;"), album_songs_path(@album), :class => 'main-links', style: 'margin-left: -5px;'%> &nbsp &nbsp <%= link_to @song.title, album_songs_path(@album), :class => 'main-links', style: 'margin-left: -5px;' %></span> </li>
            <% end %>
            <li><span class="dropdowntext"><%= link_to image_tag("keyboard_icon.png", style: "height: 30px;"), keyboard_path%> &nbsp &nbsp <%= link_to "Musical Typing", keyboard_path %></span></li>
            <li><span class="dropdowntext"><%= link_to image_tag("sheet_music_icon.png", style: "height: 30px;"), 'https://www.noteflight.com/login', target: :_blank %>
            &nbsp &nbsp <%= link_to "Sheet Music", 'https://www.noteflight.com/login', target: :_blank %> </span></li>
            <li><span class="dropdowntext"><%= link_to image_tag("faq_icon.png", style: "height: 30px;"), faq_path%> &nbsp &nbsp <%= link_to "FAQ", faq_path%></span></li>
            <li><span class="dropdowntext"><%= link_to image_tag("log_out_icon.png", style: "height: 30px;"), destroy_user_session_path, method: "delete"%> &nbsp &nbsp <%= link_to "log out", destroy_user_session_path, method: "delete" %> </span></li>
          <% else %>
            <li><span class="dropdowntext"><%= link_to image_tag("log_in_icon.png", style: "height: 30px;"), new_user_session_path%> &nbsp &nbsp <%= link_to "Log In", new_user_session_path %></span></li>
            <li><span class="dropdowntext"><%= link_to image_tag("new_user_icon.png", style: "height: 30px;"), new_user_registration_path%> &nbsp &nbsp <%= link_to "New User", new_user_registration_path %></span></li>
          <% end %>
        </ul>
      </span>
      <span class="col-md-9"><a href="/"><%= image_tag "swklogo.jpg"%></a></span>
    </div>

    <!-- End of PageHeader / Site Logo -->

    <!-- MAIN BODY - YIELD -->
    <div class="container">
      <%= yield %>
    </div>


    <!-- End of MAIN BODY - YIELD -->

  </body>
</html>
