<!DOCTYPE html>
<html>
  <head>

    <title>Songwriter's Key</title>
    <%= csrf_meta_tags %>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

    <!-- PageHeader / Site Logo -->

    <div class="page-header">
      <a href="/"><%= image_tag "swklogo.jpg"%></a>
    </div>

    <!-- End of PageHeader / Site Logo -->

    <!-- MAIN BODY - YIELD -->
    <div class="container">
      <%= yield %>
    </div>


    <!-- End of MAIN BODY - YIELD -->

    <!-- Footer / Navigation Conditions -->

    <div class="page-footer">
      <div class="row">
              <a href="/"><%= image_tag("home_icon.png") %></a>
            <% if current_user %>
              <%= link_to image_tag("log_out_icon.png"), destroy_user_session_path, method: "delete" %>
              <%= link_to image_tag("song_bank_footer_icon.png"), songs_path, :class => 'main-links' %>
              <%= link_to image_tag("keyboard_icon.png"), keyboard_path %>
              <%= link_to "https://www.noteflight.com/login", target: :_blank do  %>
              <%= image_tag("sheet_music_icon.png")%><% end %>
              <%= image_tag("faq_icon.png") %>
            <% else %>
                <%= link_to image_tag("log_in_icon.png"), new_user_session_path %>
                <%= link_to image_tag("new_user_icon.png"), new_user_registration_path %>

            <% end %>
      </div>
    </div>

    <!-- End of Footer / Navigation Conditions -->

  </body>
</html>
